{% extends 'base.html' %}

{% block Content %}

	<br><br>

	<div class="container">

		<!-- Content here -->

		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 20px;">What have I included in the Submission:</span></strong></span></p>
		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 19px;">Click to visit the links:</span></span></p>
		<ul style="list-style-type: disc;">
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">A Netlify live link ().&nbsp;</span></li>
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">A GitHub repository link (https://github.com/MZahidKamal/Module11p5_PracticeProject01).</span></li>
		</ul>

	</div>

	<br><br>

{% endblock %}
