{% extends 'base.html' %}

{% block Content %}

	<br><br>

	<div class="container">

		<!-- Content here -->

		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-family: arial, helvetica, sans-serif;"><strong><span style="font-size: 20px;">What will I have to do in this Practice Day:</span></strong></span></p>
		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-family: arial, helvetica, sans-serif; font-size: 11pt;"><em>(You must complete this project and push the code to GitHub.</em><em>&nbsp;</em><em>Marks: 10</em><em>.)</em></span></p>
		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">&nbsp;</span></p>
		<p style="font-size: 11.0pt; font-family: 'Calibri',sans-serif; line-height: normal; margin: 0cm;"><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 19px;">Follow the below description to make the required project:</span></span></p>
		<ul style="list-style-type: disc;">
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">You need to create a project first then create an app inside it.&nbsp;</span></li>
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">Create a templates folder inside the main project folder and create a base.html file inside it.&nbsp;</span></li>
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">Create a templates folder inside the app folder and create an index.html file inside it.</span></li>
			<li><span style="font-family: arial, helvetica, sans-serif;"><span style="font-size: 19px;">You need to add bootstrap file in the base.html and then inherit the file inside the index.html</span><span style="font-size: 19px;">.</span></span></li>
			<li><span style="font-size: 19px; font-family: arial, helvetica, sans-serif;">Finally show the required items in the index.html file.</span></li>
		</ul>
		<img src="" alt="sample_task_image">

	</div>

	<br><br>

{% endblock %}
